body, html{
    margin: 0;
    padding: 0;
    background-color: #44337a;
    color: #FAF5FF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    padding: 0.75rem;
    padding-bottom: 6rem;

}
.title{
    text-align: center;
    margin-bottom: 2rem;
}

.subtitle{
    display: block;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}
.subtitle2{
    display: block;
    text-align: center;
    margin-top: 2rem;
    font-size: 24px;
}

.cookie{
    display: block;
    margin: auto;
    margin-top: 2rem;
}

.header{
    letter-spacing: 0.05rem;
    font-size: 18px;
    color: #D6BCFA;
}

.shop{
    width: 100%;
    background-color: #553C9A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.75rem;
    border-radius: 4px;
    border: none;
    padding: 0.75rem;
}

.shop__icon--circle{
    display: flex;
    align-items: flex-start;
    background-color: #E9D8FD;
    border-radius: 50%;
    width: max-content;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.shop__name{
    display: flex;
    align-items: center;
}

.shop__icon--img{
    width: 1.5rem;
    height: 1.5rem;
}

.shop__text{
    color: #FAF5FF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0.75rem;
    font-size: 18px;
}

.shop__info{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.75rem;
    font-size: 18px;
}

.shop__number{
    color: #FAF5FF;
    font-size: 48px;
}
.shop__rate{
    color: #FAF5FF;
    margin-right: 1.5rem;
}

.shop__text--name{
    font-size: 24px;
}

.shop__text--price{
    color: #E9D8FD;;
}


.info__icon{
    display: flex;
    align-items: flex-start;
    margin-top: 1.25rem;

}
.info__icon-img{
    width: 5.5rem;

}

.info__bio{
    text-align: left;
}

.info__bio-and-stats{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
.info__stats-with-results{
    display: flex;
    margin-top: 0.75rem;
    flex-direction: column;
}
.info__stats{
    justify-content: start;
    width: 50%;
    text-align: right;
}

.info__stat{
    display: flex;
    justify-content: space-between;
    max-width: 12rem;
}
.info__stats--results{
    display: flex;
    justify-content: flex-end;
}

.info__buy-sell{
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.info__buy--individual{
    background-color: #D6BCFA;
    color: #44337A;;
    font-size: 1.5rem;
    padding: 0.625rem 1rem;
    border-radius: 3px;
}


.info__upgradesbox{
    display: flex;
    justify-content: space-around;
}
.info__upgrades{
    display: flex;
    flex-direction: column;
    background-color: #D6BCFA;
    color: #44337A;
    align-items: center;
    border-radius: 3px;
    padding: 0.75rem;
}
.info__upgrades--top{
    font-size: 18px;
    font-weight: bold;
}
.info__upgrades--middle{
    font-size: 18px;
    margin: 1rem;
}
.info__upgrades--bottom{
    font-size: 14px;
}


.info__bought--box{
    background-color: #D6BCFA;
    color: #000000;
    border-radius: 3px;
    padding: 0.75rem 0.5rem;
}
.info__bought--head{
    display: flex;
    font-weight: bold;
    justify-content: space-between;

}
.info__bought{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}
   
   

@media (min-width:500px){
    main{
        max-width: 500px;
        margin: auto;
    }
}




select {
    -webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid #B794F4;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    color: #E9D8FD;
}

.select__wrapper {
	position: relative;	
}

.select__wrapper:after {
    content: "";
    width: 0.75rem;
    height: 0.75rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    pointer-events: none;
    background-image: url(/chevron.svg);
    background-repeat: no-repeat;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background-color: #553C9A;
    border-top: 1px solid #3c366b;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer__button img{
    height: 3rem;
    width: 3rem;
}
